.header {
  background: rgba(26, 19, 17, 0.5) !important;
  max-width: 1200px;
  margin: auto;
  padding: 24px 15px;
}
.banner {
  padding-top: 48px;
}

.spec-title {
  font-family: "Playfair Display", serif;
}

.social-media {
  position: fixed !important;
  top: 152px !important;
  right: 0 !important;
  background: #473c31 !important;
  padding: 18px 14px;
  border-radius: 4px 0 0 4px;
}

.tag-dao {
  padding: 12px 16px;
  border: solid 1px #473c31 !important;
  border-radius: 4px;
}
